@page "/second"

<img src="https://user-images.githubusercontent.com/4441470/224455560-91ed3ee7-f510-4041-a8d2-3fc093025112.png" />
<h1>Soenneker.Blazor.MediaQuery demo</h1>
<p>This page demonstrates some of the uses of the MediaQuery component.</p>

<MediaQuery Query="(min-width: 768px)">
    This is visible at greater than 768px
</MediaQuery>

<NavLink href="/" >Navigate to first page</NavLink>

@code {

}